name: Dynamic Databricks Notebook Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install jq & curl
      run: sudo apt-get update && sudo apt-get install -y jq curl

    - name: Export multiple notebooks (raw)
      run: |
        ORIGIN_HOST=${{ secrets.DATABRICKS_ORIGIN_HOST }}
        ORIGIN_TOKEN=${{ secrets.DATABRICKS_ORIGIN_TOKEN }}

        # CERTIDICACIONES
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/certificaciones"
        NOTEBOOKS=("certificaciones") 

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"
        done

        # DASHBAORDS
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/dashboard"
        NOTEBOOKS=("FallecidosLesionados") 

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"
        done

        # DEPLOY
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/deploy"
        NOTEBOOKS=("deploy-notebook.yml")

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"

        # PROCESOS
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/procesos"
        NOTEBOOKS=("EDA" "inges_vehiculos" "ingest_fallecidos_lesionados" "ingest_hechos_transito" "resumen_victimas" "trasform")

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"
        done
        # REVERSION

        # SCRIPTS
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/scripts"
        NOTEBOOKS=("01Credenciales" "02MedallonCatalogCapas" "03_CREATE_TABLES")

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"
        done
        # SEGURIDAD
        NOTEBOOK_BASE="/Workspace/Users/coloma.ruben@gmail.com/gt_ine_hechos_transito_2023/seguridad"
        NOTEBOOKS=("01GrantDatabricks")

        mkdir -p notebooks_to_deploy

        for nb in "${NOTEBOOKS[@]}"; do
          echo "Exportando $nb en modo raw..."
          curl -s -X GET \
            -H "Authorization: Bearer $ORIGIN_TOKEN" \
            "$ORIGIN_HOST/api/2.0/workspace/export?path=$NOTEBOOK_BASE/$nb&format=SOURCE&direct_download=true" \
            --output "notebooks_to_deploy/$nb.py"
        done



    - name:  Test permisos Databricks destino
      run: |
        DEST_HOST=${{ secrets.DATABRICKS_DEST_HOST }}
        DEST_TOKEN=${{ secrets.DATABRICKS_DEST_TOKEN }}
        TEST_PATH="/py"

        echo "Probando creacion de carpeta temporal en $DEST_HOST$TEST_PATH ..."
        response=$(curl -w "%{http_code}" -s -o /tmp/out.json -X POST \
          -H "Authorization: Bearer $DEST_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{\"path\":\"$TEST_PATH\"}" \
          "$DEST_HOST/api/2.0/workspace/mkdirs")

        echo "Código de respuesta HTTP: $response"
        cat /tmp/out.json

        if [ "$response" -ne 200 ]; then
          echo "No se pudieron crear carpetas en el workspace destino!"
          exit 1
        fi

        echo "Carpeta creada correctamente. Ahora se eliminará para limpiar..."
        curl -s -X POST \
          -H "Authorization: Bearer $DEST_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{\"path\":\"$TEST_PATH\"}" \
          "$DEST_HOST/api/2.0/workspace/delete" > /dev/null

        echo "Permisos de escritura verificados con éxito."
        
    - name: Deploy notebooks to Destination Workspace
      run: |
        DEST_HOST=${{ secrets.DATABRICKS_DEST_HOST }}
        DEST_TOKEN=${{ secrets.DATABRICKS_DEST_TOKEN }}
        DEST_BASE="/py"

        for file in notebooks_to_deploy/*.py; do
          name=$(basename "$file" .py)
          dest_path="$DEST_BASE/$name"

          echo "Creando carpeta $DEST_BASE si no existe..."
          curl -s -X POST \
            -H "Authorization: Bearer $DEST_TOKEN" \
            -H "Content-Type: application/json" \
            -d "{\"path\":\"$DEST_BASE\"}" \
            "$DEST_HOST/api/2.0/workspace/mkdirs"

          echo "Importando $file → $dest_path"
          curl -s -X POST \
            -H "Authorization: Bearer $DEST_TOKEN" \
            -H "Content-Type: multipart/form-data" \
            -F "path=$dest_path" \
            -F "format=SOURCE" \
            -F "language=PYTHON" \
            -F "overwrite=true" \
            -F "content=@$file" \
            "$DEST_HOST/api/2.0/workspace/import"
        done

    - name: Clean up
      run: rm -rf notebooks_to_deploy

    - name: Done
      run: echo "All notebooks deployed with raw content!"